@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

img {
    width: 50px;
}

body {
    font-family: "Roboto", sans-serif;
}

.main-content {
    margin-left: 300px;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
    background-color: #1992D4;
    color: #fff;
    height: 30px; 
    width: 90px;
    border: none;
    border-radius: 25px;
    margin-top: 7px;
    margin-left: 20px;
}

/*------------------------------------- SIDE BAR ------------------------------------*/

.side-bar {
    background-color: #1992D4;
    width: 270px;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 30px;
    position: absolute;
}

.side-bar h1 {
    margin: 10px 0 35px -5px;
    font-size: 1.5rem;
}

.side-bar h1 img {
    margin-bottom: -10px;
}

.side-bar a img {
    margin-bottom: -5px;
    margin-right: 20px;
}

.side-bar a {
    padding: 10px 0;
    cursor: pointer;
}

.side-bar a {
    font-size: 1.2rem;
    font-weight: bold;
}

.sidebar-icon {
    filter: invert(100%);
    width: 25px;
}

.header-icon {
    width: 45px;
}

.sidebar-us {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.sidebar-ls {
    display: flex;
    flex-direction: column;
}

/*------------------------------------- TOP BAR ---------------------------------------*/

.top-bar {
    display: flex;
    flex-direction: column;
    height: 110px;
    align-content: center;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.28);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.28);
}

.topbar-us{
    display: inherit;
    height: 30px;
    align-items: flex-start;
    padding: 12px 50px;   
}

#magnifing-glass {
    margin-bottom: -7px;
    padding-right: 10px;
}

.search-bar input {
    width: 700px;
    background-color: lightgray;
    border-radius: 25px;
    border: none;
    height: 22px;
}


.topbar-us img {
    width: 22px;
}

.account-group {
    display: inherit;
    margin-left: auto;
}

.profile-name {
    margin-left: 20px;
    padding-top: 5px;
}

.profile-img {
    border: none;
    border-radius: 50%;
    width: 30px !important;
    height: 30px;
    margin-left: 25px;
}


.topbar-ls {
    display: inherit;
    padding: 0 50px;
}

#profile-image-main {
    border: none;
    border-radius: 50%;
    margin-right: 20px;
}

.name-section p {
    font-size: 0.7rem;
}

.name-section h1 {
    font-size: 1.5rem;
}

.btns {
    margin-left: auto;
}



/*------------------------------------- GRID AREA ---------------------------------------*/

.card-area {
    display: flex;
    background-color: #E2E8F0;
    height: 100vh;
    padding-top: 20px;
}

.grid-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1100px;
    row-gap: 20px;
    padding-top: 30px;
}

.grid-card {
    background-color: #fff;
    border-left: 7px solid orange;
    border-radius: 5px;
    width: 450px;
    padding: 30px 15px;
}

.grid-card p {
    color: grey;
    padding-bottom: 30px;
}

.grid-card img {
    width: 22px;
    padding: 0 10px;
}

.card-icons {
    margin-left: 300px;
}


.main-grid {
    padding: 0 20px;
}

.card-area h1 {
    font-size: 1.4rem;
}

.card-heading {
    font-size: 1.2rem;
}