@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

img {
    width: 50px;
}

body {
    font-family: "Roboto", sans-serif;
}

/*------------------------------------- SIDE BAR ------------------------------------*/

.side-bar {
    background-color: #1992D4;
    width: 270px;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 30px;
}

.side-bar a {
    font-size: 1.2rem;
    font-weight: bold;
}

.sidebar-icon {
    filter: invert(100%);
    width: 30px;
}

.header-icon {
    width: 50px;
}

.sidebar-us {
    display: flex;
    flex-direction: column;
}

.sidebar-ls {
    display: flex;
    flex-direction: column;
}